.project-section {
    width: 100%;
    .project-preview-wrapper {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 20px;
        .project-preview {
            display: flex;
            align-items: center;
            flex-direction: column;
            padding: 0 20px 10px 20px;
            background-color: white;
            color: black;

            border: 5px solid transparent;

            -moz-border-image: -moz-linear-gradient(top left, rgba(53, 161, 73, 1) 0%, rgba(56, 239, 126, 1) 61%, rgba(74, 255,143, 1) 100%);
            -webkit-border-image: -webkit-linear-gradient(top left, rgba(53, 161, 73, 1) 0%, rgba(56, 239, 126, 1) 61%, rgba(74, 255,143, 1) 100%);
            border-image: linear-gradient(to bottom right, rgba(53, 161, 73, 1) 0%, rgba(56, 239, 126, 1) 61%, rgba(74, 255,143, 1) 100%);
            border-image-slice: 1;

            .project-title{
                @include center-flexbox();
            }
            .project-links {
                display: grid;
                grid-auto-flow: column;
                grid-gap: 20px;
            }
        }
    }
}