.resume-section {
    .resume-content-wrapper {
        @include center-flexbox();
        width: 100%;

        & * {
            overflow: hidden !important;
        }

        .resume-document {
            width: 100%;
        }
    }
}

.react-pdf__Page__svg, .react-pdf__Page__svg *{
    margin: 0 auto !important;
    padding: 0 !important;
    width: 100% !important;
    height: 100% !important;
}