body {
    margin: 0px;
    font-family: 'Roboto Mono', sans-serif;
    background-color: $light-black;
    color: $off-white;
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
}