.page-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.header-wrapper {
    @include center-flexbox();
    width: 100%;

    background: url("../../static//assets//images/heading-background.jpg");


    .header-text {
        @include center-flexbox();
        filter: brightness(200%);

        flex-direction: column;

        h1 {
            font-size: 3.5em;
            margin-bottom: 15px;
        }

        h2 {
            margin-top: 0;
            font-size: 2em;
        }
    }
}

.content-wrapper {
    max-width: 1000px;
    padding: 10px;

    .about-section {

        .about-content-wrapper {
            display: grid;
            grid-template-columns: 1fr 3fr;
            grid-gap: 20px;
            .image-wrapper {

                img {
                    width: 100%;
                }
            }
        }

    }

    .project-wheel {
        display: grid;
        grid-template-columns: 1fr 5fr 1fr;

        .arrow-div {
            @include center-flexbox();
            flex-direction: column;
            font-size: 3em;
        }

    }


    .contact-section {
        .social-links {
            display: grid;
            grid-template-columns: max-content max-content;
            grid-gap: 20px;
        }

        .contact-me-form {
            margin-top: 25px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 20px;

            .form-element-div {
                display: grid;
                grid-template-columns: 1fr;

                input, textarea{
                    font-size: 1.5em;
                    padding: 5px;

                    &:focus {
                        outline: none;
                        border: none;
                        box-shadow: 0 0 10px $hacker-green;
                    }
                }

                textarea {
                    resize: none;
                }
            }

            .form-element-div:nth-child(3) {
                grid-column-start: span 2;
            }

            #submit {
                width: max-content;
                font-size: 1.5em;
                padding: 10px;
                border-radius: 5px;
                border: none;
                background-color: #3a5441;
            }
        }
    }

    .project-section {
        .project-preview-wrapper {
            display: grid;
            grid-template-columns: 1fr;
            grid-gap: 20px;

            .project-preview {
                border: 1px solid $hacker-green;
                padding: 0 20px 10px 20px;

                .project-title{
                    @include center-flexbox();
                }
            }
        }
    }
}

.scroll {
    filter: brightness(50%);
}

.section-title {
    @include center-flexbox();
}