.page-wrapper {
    @include center-flexbox();

    -webkit-box-shadow: inset 5px 5px 1000px 5px rgba(0,0,0,0.76); 
    box-shadow: inset 5px 5px 1000px 5px rgba(0,0,0,0.76);
    background-color: white;
}

p {
    font-size: 1.5em;
    line-height: 1.5em;
}

.header-wrapper {
    @include center-flexbox();
    width: 100%;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(67,67,67,1) 76%, rgba(67,67,67,1) 100%);


    .header-text {
        @include center-flexbox();

        h1 {
            font-size: 4.5em;
            margin-bottom: 15px;
            text-align: center;

        }
        h2 {
            margin-top: 0;
            font-size: 2em;
            text-align: center;
        }

        h1, h2 {
            @include green-gradient-text();
          }
    }
}

 .outer-content-wrapper{
    width: 100%;
    @include center-flexbox();

    & > div:nth-child(2n) {
        width: 100%;
        @include center-flexbox();
        background-color: $light-black;
    }

    & > div:nth-child(2n+1){
        width: 100%;
        @include center-flexbox();
        background-color: white;
        color: black;
    }
}

.content-wrapper {
    max-width: 1000px;
    padding: 10px;
    width: 100%;
}

.social-link a{
    font-size: 3em;

    & i {
        @include green-gradient-text();
    }
}


.scroll {
    filter: brightness(50%);
}

.section-title {
    @include center-flexbox();
}