@media (max-width: $breakpoint-phone) {
    .content-wrapper {
        .about-section {
            .about-content-wrapper {
                display: block !important;
    
                .image-wrapper {
                    @include center-flexbox();
                }

                .about-text {
                    .social-links {
                        display: flex;
                        justify-content: space-evenly;
                    }
                }
            }
        }
    
        .project-wheel {
            display: block;

            .arrow-div{
                width: 0;
    
                *{
                    display: none;
                }
            }
    
        }


        .contact-section {
            .contact-me-form {
                .email-subject {
                    grid-template-columns: 1fr;
                }
            }

        }
    }
    

}