
$dark-teal: #207b88;
$teal: #26bfd4;
$hacker-green: #149414;
$light-black: #0b0c10;
$dark-grey: #1f2833;
$off-white: #c5c6c7;
$bright-blue: #66fcf1;
$blue: #45a29e;

$breakpoint-phone: 600px;
$breakpoint-small-phone: 315px;
